{% block subject 'TGVmax Helper' %}

{% block body_html %}
    <h2>Je vous ai trouvé un voyage :D</h2>
    <p>
        Profiter de votre voyage, continuer à me dire ce que vous rechercher, je m'en occupe.<br />
        <b>A vos valises :D</b>
    </p>
{% endblock %}

{% block body_text %}
{% endblock %}